<div class="container">
  <h1 class="mt-3 mb-3">NEW RESTAURANTS</h1>

  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <%= f.input :category, collection: Restaurant::CATEGORIES %>
    </div>

    <div class="form-actions">
      <input class="btn btn-success" type="submit" value="Create">
    </div>
  <% end %>

  <a class="btn btn-primary mt-3 mb-3" href= /restaurants role="button">Back to Restaurants</a>

</div>
